---
import { Debug } from 'astro/components';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPost from '@components/BlogPost.astro';

const allPosts: Array<{ [field: string]: any }> = await Astro.glob('../pages/posts/*.md');
const pageTitle: string = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<div>
		<h2>変更ログ</h2>
		<p>src/pages/にblog.astroファイルを追加したよ</p>
		<p>src/layouts/にレイアウトをまとめたよ</p>
	</div>
	<div>
		<h2>コンテンツ</h2>
		<ul>
      {allPosts.map( (post): Element => <BlogPost url={post.url} title={post.frontmatter.title} /> )}
		</ul>
	</div>
  <Debug {allPosts} />
</BaseLayout>
