---
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<div>
		<h2>変更ログ</h2>
		<p>src/pages/にblog.astroファイルを追加したよ</p>
		<p>src/layouts/にレイアウトをまとめたよ</p>
	</div>
	<div>
		<h2>コンテンツ</h2>
		<ul>
			<li><a href="/posts/post-1/">post-1.md</a></li>
			<li><a href="/posts/post-2/">post-2.md</a></li>
			<li><a href="/posts/post-3/">post-3.md</a></li>
		</ul>
	</div>
</BaseLayout>
