---
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle: string = "index";
---
<BaseLayout pageTitle={pageTitle}>
	<div>
		<h2>変更ログ</h2>
		<p>ライブプレビューも出来るよ</p>
		<p>Netlifyにコミットで自動ビルド！</p>
		<p>変数pageTitleを定義して使ってみたよ</p>
		<p>src/layouts/にレイアウトをまとめたよ</p>
	</div>
</BaseLayout>
