<nav>
  <div class="nav-links">
    <a href="/">index</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    column-gap: 1rem;
  }
</style>